.recent-searches {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  .recent-searches ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .recent-searches li {
    cursor: pointer;
    padding: 5px;
    background-color: #636363;
    border: 1px solid #ddd;
    margin: 2px 0;
  }
  .recent-searches li:hover {
    background-color: #6D6D6D;
  }